@import "bootstrap.css";
@import "fotorama.css";
@import "modal.css";
header .header {
  padding-top: 30px;
  padding-bottom: 20px;
}
header .header__logo img {
  height: 50px;
}
header .header__contacts {
  padding: 0 0;
}
header .header__contacts_phone {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 0 0;
}
header .header__contacts_time {
  font-weight: 400;
}
header .header__callback {
  margin-top: -10px;
}
header .header__callback_button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  width: fit-content;
  border: 2px solid #68952D;
  border-radius: 5px;
  color: #68952D;
  font-weight: 600;
  transition: all 0.3s;
}
header .header__callback_button:hover {
  text-decoration: none;
  background-color: #68952D;
  color: #FFFFFF;
}
header .header__callback_social {
  width: fit-content;
  margin: 10px auto;
}
header .header__callback_social img {
  height: 20px;
}
header .header__callback_social a {
  margin: 0 10px;
}
header .header__callback_social a:hover {
  text-decoration: none;
}
.menu {
  background-color: #68952D;
}
.menu__aligner {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.menu ul {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  box-sizing: content-box;
}
.menu ul li {
  list-style-type: none;
  display: inline-block;
}
.menu ul li a {
  display: block;
  color: #FFFFFF;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
}
.menu ul li a:hover {
  text-decoration: none;
  background-color: #9CCA60;
}
@media (max-width: 767px) {
  .header__contacts {
    margin: 20px 0;
  }
}
footer p {
  color: #999;
  line-height: 25px;
}
footer h2,
footer h3 {
  color: #fff;
}
footer h2 {
  font-size: 18px;
}
footer .footer-top {
  background: #111;
  padding: 80px 0;
}
footer .segment-one h3 {
  font-family: 'Courgette', cursive;
  color: #fff;
  letter-spacing: 1.2px;
  margin: 0 0 10px 0;
}
footer .segment-two h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
footer .segment-two h2:before {
  content: "|";
  color: #68952D;
  padding-right: 10px;
}
footer .segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}
footer .segment-two ul li a {
  color: #999;
  text-decoration: none;
}
footer .segment-three h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
footer .segment-three h2:before {
  content: "|";
  color: #68952D;
  padding-right: 10px;
}
footer .segment-three a {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  transition: all 0.3s;
}
footer .segment-three a:hover {
  background-color: #68952D;
}
footer .segment-three a i {
  font-size: 20px;
  color: #fff;
  padding: 10px 10px;
}
footer .segment-four h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
footer .segment-four h2:before {
  content: "|";
  color: #68952D;
  padding-right: 10px;
}
footer .segment-four form input[type=submit] {
  background: #68952D;
  border: none;
  padding: 3px 15px;
  color: #fff;
  text-transform: uppercase;
}
footer .footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 75px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer .md-md-30 {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  footer .sm-mb-30 {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  footer .footer-top {
    padding: 50px;
  }
}
.footer_link:hover {
  color: #9CCA60;
}
.fw {
  background: url("../img/bg01.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 30px 0;
}
.fw__title {
  margin: 30px 0;
}
.fw__features_feature {
  margin: 35px auto;
  width: fit-content;
}
.fw__features_feature::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #68952D;
  transform: scaleX(0);
  transition: all 0.3s;
}
.fw__features_feature:hover::after {
  transform: scaleX(1);
}
.fw__features_feature img {
  display: block;
  height: 50px;
  margin: 0 auto 0 auto;
}
.fw__features_feature p {
  width: fit-content;
  margin: 0 0 15px 0;
  font-size: 1.1rem;
}
.fw__button a {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #68952D;
  font-weight: 600;
  transition: all 0.3s;
}
.fw__button a:hover {
  text-decoration: none;
  background-color: #3D610F;
}
@media (max-width: 1199px) {
  .fw__video {
    margin-top: 125px;
  }
}
@media (max-width: 991px) {
  .fw__video {
    margin-top: 0;
  }
}
.sw {
  background-color: #68952D;
  padding: 70px 0 50px 0;
}
.sw__title {
  margin-bottom: 50px;
  color: #FFFFFF;
}
.sw__type {
  color: #FFFFFF;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 3px solid #FFFFFF;
  border-radius: 100px;
  transition: all 0.3s;
}
.sw__type:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #68952D;
}
.sw__type p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 2rem;
}
.sw__type_hidden {
  display: none;
}
.sw__button {
  margin: 70px auto 0 auto;
  padding: 10px 20px;
  width: fit-content;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}
.sw__button:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #68952D;
}
.tw {
  padding: 30px 0;
}
.tw .ft__slide img {
  max-width: 525px;
  width: 100%;
  display: block;
  margin: 10px auto;
}
.tw .ft__slide_title {
  font-size: 1.5rem;
  font-weight: 600;
}
.tw .ft__slide_mats span {
  font-weight: 600;
}
.tw .tw_button__catandprice {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: #68952D;
  color: #FFFFFF;
  border-radius: 10px;
  transition: all 0.3s;
}
.tw .tw_button__catandprice:hover {
  text-decoration: none;
  background-color: #3D610F;
  color: #FFFFFF;
}
.frw {
  background: url("../img/bg02-min.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.frw h1 {
  margin-bottom: 30px;
}
.frw input {
  margin: 0 auto 10px auto;
  width: 50%;
}
.frw .frw_submit {
  display: block;
  width: fit-content;
  padding: 5px 30px;
  margin: 20px auto;
  background-color: #68952D;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
}
.frw .frw_submit:hover {
  background-color: #3D610F;
}
.modal_modal h1 {
  margin-bottom: 20px;
}
.modal_modal input {
  width: 70%;
  margin: 0 auto;
}
.modal_modal a {
  display: inline-block;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 5px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.modal_modal a:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.modal_modal .button_send {
  margin: 40px 40px 0 0;
  background-color: #68952D;
}
.modal_modal .button_send:hover {
  background-color: #3D610F;
}
.modal_modal .button_cancel {
  background-color: #555555;
}
.modal_modal .button_cancel:hover {
  background-color: #333333;
}
.hidden {
  display: none;
  transition: all 0.3s;
}
.about {
  position: relative;
  width: 100%;
  display: flex;
}
.about .contentBx {
  background: #68952D;
  padding: 100px;
  width: 50%;
}
.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.about .imgBx {
  background: url(../img/window.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
}
/* Услуги */
.services {
  background: #12222d;
  padding: 100px;
  text-align: center;
}
.services .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.services .container .serviceBx {
  position: relative;
  background: #fff;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .container .serviceBx img {
  max-width: 100px;
}
.services .container .serviceBx h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.technology {
  background: #3f8ffc;
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technology .contentBx {
  max-width: 800px;
}
.technology .imgBx {
  max-width: 250px;
}
.technology .imgBx img {
  max-width: 100%;
}
/* Партнеры */
.client {
  background: #162c3b;
  padding: 100px;
  text-align: center;
}
.client .imgBx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.client .imgBx img {
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  cursor: pointer;
}
.client .imgBx img:hover {
  opacity: 1;
}
.testimonials {
  position: relative;
  padding: 100px;
  background: #12222d;
  text-align: center;
}
.testimonials .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.testimonials .container .contentBx {
  background: #fff;
  padding: 60px 50px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.testimonials .container .contentBx p {
  font-style: italic;
}
.testimonials .container .contentBx h3 {
  width: 100%;
  text-align: end;
  font-weight: 500;
  color: #68952D;
}
/* Контакты */
.contact {
  padding: 100px;
  background: #162c3b;
  text-align: center;
}
.imgBx2 {
  background: url(../img/bg2.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}
.redbg {
  background: url(../img/red.jpg) !important;
  background-size: cover;
  background-position: center;
}
.form .inputBx {
  margin-bottom: 40px;
}
.form .inputBx input {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.form .inputBx input::placeholder {
  color: #fff;
}
.form .inputBx textarea {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  min-height: 150px;
  border-bottom: 2px solid #fff;
}
.form .inputBx textarea::placeholder {
  color: #fff;
}
.form .inputBx input[type="submit"] {
  width: 150px;
  background: #fff;
  color: #111;
  cursor: pointer;
  font-weight: 400px;
}
@media (max-width: 991px) {
  .banner {
    padding: 50px;
  }
  .banner header {
    padding: 20px 50px;
  }
  .banner .content h2 {
    font-size: 36px;
  }
  .banner .content p {
    font-size: 16px;
  }
  .about {
    flex-direction: column;
  }
  .about .contentBx,
  .about .imdBx {
    width: 100%;
    padding: 50px;
    min-height: 400px;
    text-align: center;
  }
  .services {
    padding: 50px;
  }
  .services .container {
    justify-content: center;
    margin-top: 20px;
  }
  .services .container .serviceBx {
    margin: 20px;
    width: 300px;
    height: 350px;
  }
  .technology {
    padding: 50px;
    padding-top: 300px;
    justify-content: center;
    flex-direction: column;
  }
  .technology .imgBx {
    margin-top: 40px;
    max-width: 250px;
  }
  .client {
    padding: 50px;
  }
  .client .imgBx {
    justify-content: center;
  }
  .testimonials {
    padding: 50px;
  }
  .testimonials .contentBx {
    padding: 60px 40px;
    max-width: 550px;
    margin-bottom: 40px;
  }
  .testimonials .contentBx:last-child {
    margin-bottom: 0px;
  }
  .contact {
    padding: 50px;
  }
}
/*# sourceMappingURL=style.css.map */