@media (min-width: 768px) {
  .reviews {
    &__slider {
      max-width: none;
      width: 600px;
    }
    &__review {
      width: 500px;
      max-width: none;
    }
    &__img {
      margin: 0;
    }
    &__text {
      margin-left: -30px;
    }
  }
}