.reviews {
  background-color: @green;

  &__slider {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  &__review {
    background-color: #fff;
    width: 300px;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 50px;
  }

  &__img {
    height: 150px;
    border-radius: 100%;
    margin: 0 auto;
  }

  &__name {
    margin-left: -15px;
    text-align: right;
    font-weight: 600;
    font-size: 1.5rem;
    color: @green;
  }

  &__city {
    margin-top: -15px;
    margin-left: -15px;
    text-align: right;
    font-size: 1.1rem;
  }

  &__text {
    margin-left: 0;
    margin-top: 10px;
    text-align: left;
  }

  &__button {
    display: block;
    width: fit-content;
    margin: 20px auto 0 auto;
    color: @white;
    background-color: @black;
    font-weight: 600;
    transition: all 0.3s;

    &:hover {
      text-decoration: none;
      background-color: @gray-dark;
      color: @white;
    }
  }

  .fotorama__arr--next {
    background: url("../img/door_next_white.png") center;
    background-size: cover;
  }

  .fotorama__arr--prev {
    background: url("../img/door_prev_white.png") center;
    background-size: cover;
  }
}

.reviews {
  .fotorama__stage {
    height: 480px;
  }

  .fotorama__shadows--right::after {
    display: none;
  }

  .fotorama__shadows--left::before {
    display: none;
  }


  /* Слайдер */

  .slick-slider {
  }

  /* Слайдер запущен */

  .slick-slider.slick-initialized {
  }

  /* Слайдер с точками */

  .slick-slider.slick-dotted {
  }

  /* Ограничивающая оболочка */

  .slick-list {
  }

  /* Лента слайдов */

  .slick-track {
  }

  /* Слайд */

  .slick-slide {
  }

  /* Слайд активный (показывается) */

  .slick-slide.slick-active {
  }

  /* Слайд основной */

  .slick-slide.slick-current {
  }

  /* Слайд по центру */

  .slick-slide.slick-center {
  }

  /* Клонированный слайд */

  .slick-slide.slick-cloned {
  }

  /* Стрелка */

  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: none;
    z-index: 2;

    &:focus {
      outline: none;
    }
  }

  /* Стрелка влево */

  .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/door_prev_white.png') no-repeat;
    background-size: contain;
  }

  /* Стрелка вправо */

  .slick-arrow.slick-next {
    right: 0;
    background: url('../img/door_next_white.png') no-repeat;
    background-size: contain;
  }

  /* Стрелка не активная */

  .slick-arrow.slick-disabled {
  }

  /* Точки (булиты) */

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .slick-dots li {
    list-style: none;
    margin: 0 5px;
  }

  /* Активная точка */

  .slick-dots li.slick-active {
    button {
      background-color: @gray-dark;
    }
  }

  /* Элемент точки */

  .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid @gray-dark;
    padding: 0;

    &:focus {
      outline: none;
    }
  }


}