{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Bindoors - Политика конфиденциальности{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Политика конфиденциальности и обработки персональных данных на сайте bindoors.ru в редакции от 3 апреля
                2020 г.</h3>
            <h5>Общие положения</h5>
            <ol>
                <li>Настоящая политика разработана в соответствии с Федеральным законом № 152-ФЗ от 27 июля 2006 г. «О
                    персональных
                    данных», а также иных нормативно-правовых актов, регламентирующих деятельность операторов по
                    обработке
                    персональных данных и действует в отношении всех персональных данных, которые могут быть получены от
                    субъекта
                    персональных данных, использующего сайт bindoors.ru (далее – Сайт).
                </li>
                <li>Политика определяет порядок обработки персональных данных и меры по обеспечению безопасности
                    персональных
                    данных пользователей Сайта с целью защиты прав и свобод человека и гражданина при обработке его
                    персональных
                    данных.
                </li>
                <li>Использование Сайта означает безоговорочное согласие Пользователя с настоящей Политикой и указанными
                    в ней
                    условиями получения и обработки его персональных данных. В случае несогласия с этими условиями
                    Пользователь
                    должен воздержаться от использования Сайта.
                </li>
            </ol>
            <h5>Термины и принятые сокращения</h5>
            <ol>
                <li>Персональные данные – любая информация, относящаяся к прямо или косвенно определенному или
                    определяемому
                    физическому лицу (субъекту персональных данных) использующему Сайт.
                </li>
                <li>Оператор – Индивидуальный предприниматель Недякин Евгений Александрович, Свидетельство о
                    государственной
                    регистрации физического лица в качестве индивидуального предпринимателя серия 13, № 001533205 от
                    27.07.2016 г.,
                    ОГРНИП 316132600062273.
                </li>
                <li>Субъект персональных данных (Пользователь) - лицо, имеющее доступ к сайту bindoors.ru, посредством
                    сети
                    Интернет и использующее информацию, материалы и продукты Сайта.
                </li>
                <li>Сайт — совокупность связанных между собой веб-страниц, размещенных в сети Интернет по уникальному
                    адресу:
                    <a href="/">https://bindoors.ru</a> и/или его поддоменов.
                </li>
                <li>IP-адрес — уникальный сетевой адрес узла в компьютерной сети, через который Пользователь получает
                    доступ на
                    Сайт.
                </li>
                <li>Cookies — фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который
                    веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть
                    страницу
                    соответствующего сайта.
                </li>
                <li>Товар — продукт, который размещен на Сайте предлагаемый к продаже.</li>
                <li>Обработка персональных данных — любое действие (операция) или совокупность действий (операций),
                    совершаемых с
                    использованием средств автоматизации или без использования таких средств с персональными данными,
                    включая
                    получение, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение),
                    извлечение,
                    использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование,
                    удаление,
                    уничтожение персональных данных.
                </li>
                <li>Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств
                    вычислительной техники.
                </li>
                <li>Блокирование персональных данных – временное прекращение обработки персональных данных (за
                    исключением
                    случаев, если обработка необходима для уточнения персональных данных).
                </li>
                <li>Уничтожение персональных данных – действия, в результате которых становится невозможным восстановить
                    содержание персональных данных в информационной системе персональных данных и (или) в результате
                    которых
                    уничтожаются материальные носители персональных данных.
                </li>
            </ol>
            <h5>Обработка персональных данных</h5>
            <ol>
                <li>Оператор обеспечивает защиту обрабатываемых Персональных данных от несанкционированного доступа и
                    разглашения,
                    неправомерного использования или утраты в соответствии с требованиями Федерального закона от 27 июля
                    2006 г. №
                    152-ФЗ «О персональных данных».
                </li>
                <li>Оператор с согласия Пользователя, с использованием средств автоматизации или без использования таких
                    средств
                    осуществляет обработку Персональных данных Пользователя.
                </li>
                <li>Оператор получает Персональные данные непосредственно от Пользователя. Оператор не проверяет
                    достоверность
                    Персональных данных, предоставляемых Пользователем. Персональные данные предоставляются добровольно.
                </li>
                <li>Персональные данные которые получает Оператор от Пользователя:
                    <ul>
                        <li>Имя и/или Фамилия и/или отчество;</li>
                        <li>Номер телефона;</li>
                        <li>Адрес электронной почты;</li>
                        <li>IP-адрес;</li>
                        <li>Адрес доставки товара;</li>
                    </ul>
                </li>
                <li>Данные, которые автоматически передаются сервисам сайта в процессе их использования с помощью
                    установленного на
                    устройстве Пользователя программного обеспечения, в том числе данные файлов cookie, информация о
                    браузере
                    Пользователя
                    (или иной программе, с помощью которой осуществляется доступ к сервисам), технические характеристики
                    оборудования и
                    программного обеспечения, используемых Пользователем, дата и время доступа к сервисам, адреса
                    запрашиваемых
                    страниц и
                    иная подобная информация.
                </li>
                <li>Целью обработки Персональных данных является:
                    <ul>
                        <li>продажа и доставка товаров с использованием Сайта;</li>
                        <li>установления обратной связи с Пользователем, включая направление уведомлений, оповещений
                            запросов,
                            касающихся
                            использования Сайта, продажи и доставки товаров, оказания услуг, обработки запросов и заявок
                            от
                            Пользователя;
                        </li>
                        <li>оценка и улучшение качества товаров;</li>
                        <li>получение и анализ пользовательских отзывов с целью предложения новых товаров;</li>
                        <li>отправки информационных рассылок.</li>
                    </ul>
                </li>
                <li>Оператор вправе передавать Персональные данные Пользователя третьим лицам без получения
                    дополнительного согласия
                    Пользователя для целей продажи товаров, а также при заказе Пользователем услуг доставки и установки
                    приобретенного
                    товара.
                </li>
                <li>Хранение Персональных данных осуществляется на электронных носителях способом исключающим
                    несанкционированный
                    доступ
                    к ним.
                </li>
                <li>Уничтожение Персональных данных содержащихся на электронных носителях осуществляется путем стирания.
                    При
                    необходимости уничтожается носитель.
                </li>
                <li>Оператор не вправе использовать персональные данные вне целей определенных настоящей Политикой.</li>
                <li>Обработка персональных данных Пользователя осуществляется без ограничения срока.</li>
            </ol>
            <h5>Защита Персональных данных</h5>
            <ol>
                <li>В соответствии с требованиями нормативных документов Оператор принимает организационные, правовые и
                    технические
                    меры для защиты персональных данных.
                </li>
                <li>Основными мерами защиты Персональных данных, используемыми Оператором, являются:
                    <ul>
                        <li>назначение лица, ответственного за обработку Персональных данных, которое осуществляет
                            организацию
                            обработки Персональных данных, обучение и инструктаж, внутренний контроль за соблюдением его
                            работниками
                            требований к защите Персональных данных.
                        </li>
                        <li>определение актуальных угроз безопасности Персональных данных при их обработке и разработка
                            мер и
                            мероприятий по защите Персональных данных.
                        </li>
                        <li>установление правил доступа к обрабатываемым Персональным данным.</li>
                        <li>установление индивидуальных паролей доступа сотрудников в информационную систему в
                            соответствии с их
                            производственными обязанностями.
                        </li>
                        <li>соблюдение условий, обеспечивающих сохранность Персональных данных и исключающих
                            несанкционированный
                            доступ к ним.
                        </li>
                        <li>обнаружение фактов несанкционированного доступа к Персональным данным и принятие мер
                            реагирования.
                        </li>
                        <li>восстановление Персональных данных модифицированных или уничтоженных вследствие
                            несанкционированного
                            доступа к ним.
                        </li>
                        <li>обучение работников непосредственно осуществляющих обработку Персональных данных, положениям
                            законодательства РФ о Персональных данных, в том числе требованиям к защите Персональных
                            данных,
                            документам, определяющим политику Оператора в отношении обработки персональных данных,
                            локальным актам
                            по вопросам обработки Персональных данных.
                        </li>
                        <li>осуществление внутреннего контроля и аудита в области защиты Персональных данных.</li>
                    </ul>
                </li>
            </ol>


            <h5>Прочие условия</h5>
            <ol>
                <li>Оператор имеет право вносить изменения в настоящую Политику без согласия Пользователя.</li>
                <li>При внесении изменений в заголовке Политики указывается дата последнего обновления редакции. Новая
                    редакция
                    Политики вступает в силу с момента ее размещения на сайте, если иное не предусмотрено новой
                    редакцией Политики.
                </li>
                <li>Все предложения или вопросы касательно настоящей Политики конфиденциальности следует сообщать по
                    адресу:
                    privacy@bindoors.ru
                </li>
                <li>Действующая Политика конфиденциальности размещена на странице по адресу <a href="/privacy">https://bindoors.ru/privacy</a>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}